/* CSS files add styling rules to your content */
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color:#f5f5f5;
  max-width:1200px;
  margin: 0 auto;
  display:flex;
  min-height:100vh;
  align-items:center;
  /* min-width*/
}

.container{
  width:100%;
  display: flex;
  align-items:center;
  justify-content: space-between;
  
}

section{
  
  background-color:white;
  border-radius:20px;
}

h1 {
  font-style: italic;
  color: #373fff;
}


.hide{
  
  display:none;
}

.container-left{
  
  width:840px;
  height:520px;
  
}

.container-right{
  
  width:310px;
  height: 520px;
}



/* game-screen*/



.game-wrapper{
  

display:flex;
}